<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 목록</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody>
            {% for list in board_list %}
                <tr>
                    <td>{{ list.id }}</td>
                    <td><a href="{% url 'board:detail' list.id %}">{{ list.title }}</a></td>
                    <td>{{ list.writer }}</td>
                    <td>{{ list.readcount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <button>글등록</button>
    </div>
</body>
</html>